[run]
source =
    functions

include =
    */client_callback/main.py
    */client_webhook/main.py
    */convert_md2html/main.py
    */convert_usfm2html/main.py
    */door43_deploy/main.py
    */list_endpoints/main.py
    */register_module/main.py
    */request_job/main.py
    */start_job/main.py
